absl-py==0.7.1
appdirs==1.4.3
astor==0.7.1
atomicwrites==1.3.0
attrs==19.1.0
backports.weakref==1.0.post1
bleach==3.3.0
cli50==2.0.0
Click==7.0
configparser==3.5.0
cs50==3.1.0
decorator==4.4.0
entrypoints==0.2.3
enum34==1.1.6
Flask==1.0.2
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
gast==0.2.2
google-pasta==0.1.4
grpcio==1.19.0
h5py==2.9.0
html5lib==1.0.1
inflect==2.1.0
ipaddress==1.0.22
ipykernel==4.9.0
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
jupyterlab==0.33.12
jupyterlab-launcher==0.11.2
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Mako==1.0.9
Markdown==3.1
MarkupSafe==1.0
mistune==0.8.3
mock==2.0.0
more-itertools==5.0.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.6.0
numpy==1.16.2
pandas==0.24.2
pandocfilters==1.4.2
pathlib2==2.3.3
pbr==5.1.3
pipenv==2018.7.1
pluggy==0.9.0
prometheus-client==0.3.1
protobuf==3.7.1
py==1.8.0
pytest==4.4.1
python-dateutil==2.8.0
pytools==2019.1.1
pytz==2019.1
scandir==1.10.0
Send2Trash==1.5.0
six==1.12.0
SQLAlchemy==1.3.3
sqlparse==0.3.0
subprocess32==3.5.2
tb-nightly==1.14.0a20190301
tensorboard==1.13.1
tensorboardX==1.6
tensorflow==2.0.0a0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tf-estimator-nightly==1.14.0.dev2019030115
webencodings==0.5.1
Werkzeug==0.15.1
